

Find book by name: <input class="form-control" type="text" [(ngModel)]="filter1" min="1" (ngModelChange)="filterInput()">
<p></p>

Find book by category:
<select name="select" [(ngModel)]="selectFilter" (ngModelChange)="filterSelect()">
  <option value="ficcion" selected >ficcion</option>
  <option value="poesia">poesia</option>
  <option value="documental">documental</option>
</select>

<p></p>

Find book by year (from {{minYear}} to {{maxYear}}):
<input type="range" id="rangeInput"  min="{{minYear}}" max="{{maxYear}}" [(ngModel)]="rangeFilter" (ngModelChange)="filter()">
<p></p> 


<table class="table table-bordered table-primary" *ngIf="libros.length > 1">
    <thead>
      <tr>
        
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Year</th>
        <th>Language</th>
        <th>Prestec</th>
        <th>Price</th>
        <th>Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of filteredLibros">
        <td>{{ libro.nom }}</td>
        <td>{{ libro.descripcio }}</td>
        <td>{{ libro.categoria }}</td>

        <td>{{ libro.any }}</td>
        <td>{{ libro.idioma }}</td>
        
        <td *ngIf="libro.prestec">Si</td>
        <td *ngIf="!libro.prestec">No</td>
        <td>{{ libro.preu | currency:'EUR'}}</td>
        <td><button type="button" class="btn btn-light" (click)="delete(libro)">Delete</button></td>


      </tr>
    </tbody>
  </table>
  <br>