<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container">


<div class="collapse navbar-collapse" id="navbarNav">
  <div id="menu" class="navbar-nav ">
    <a class="nav-link " routerLink="/list">List</a>
    <a class="nav-link " routerLink="/add" >Add</a>
    total books: {{numberOfBooks}}

  </div>
</div>
    
</div>
</nav>


<router-outlet></router-outlet>