<p>Add book:</p>

<form id="addForm" #addForm="ngForm" novalidate>

    <!-- NAME -->
    <div class="mb-3 row">
        <label class="form-label col-2" for="name">Name:</label>
        <div class="col-5">
            <input class="form-control" type="text" id="username" [(ngModel)]="libro.nom" #name="ngModel" name="name"
                required maxlength="20">
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors?.['required']">Name is required.</div>
                <div *ngIf="name.errors?.['maxlength']">Name can contain max 20 characters.</div>

            </div>
        </div>
    </div>
    <!--    DESCRIPTION -->
    <div class="mb-3 row">
        <label class="form-label col-2" for="descripcio">Descripcion:</label>
        <div class="col-5">
            <input class="form-control" type="textare" id="descripcio" [(ngModel)]="libro.descripcio"
                #descripcio="ngModel" name="descripcio" required maxlength="50">
            <div *ngIf="descripcio.invalid && (descripcio.dirty || descripcio.touched)">
                <div *ngIf="descripcio.errors?.['required']">Description is required.</div>
                <div *ngIf="descripcio.errors?.['maxlength']">Description can contain max 50 characters.</div>

            </div>
        </div>
    </div>

    <!--     CATEGORY -->
    <div class="mb-3 row">
        <label class="form-label col-2" for="category">Category:</label>
        <div class="col-5">
            <select class="form-select" id="category" name="category" #category="ngModel" [(ngModel)]="libro.categoria"
                required>
                <option *ngFor="let category of categories" value="{{category}}"> {{category}}</option>
            </select>
            <div *ngIf="category.invalid && (category.dirty || category.touched)">
                <div *ngIf="category.errors?.['required']">category is required.</div>
            </div>
        </div>
    </div>

    <!-- YEAR -->
    <div class="mb-3 row">
        <label class="form-label col-2" for="year">year:</label>
        <div class="col-5">
            <input class="form-control" type="number" id="year" name="year" #year="ngModel" [(ngModel)]="libro.any"
                ValidarYearDirective required>
            <div *ngIf="year.invalid && (year.dirty || year.touched)">
                <div *ngIf="year.errors?.['required']">Year is required.</div>
                <div *ngIf="year.errors?.['notValid']">No puede ser inferior al año actual </div>
            </div>
        </div>
    </div>


    <!--     LANGUAGE  -->
    <div class="mb-3 row">
        <label class="form-label col-2" for="language">Language:</label>
        <div class="col-5">
            <div *ngFor="let i of languages" class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="{{i}}" name="language" value="{{i}}"
                    #language="ngModel" [(ngModel)]="libro.idioma" required>
                <label class="form-check-label" for="{{i}}">{{i}}</label>
            </div>
<!--             <div *ngIf="language.invalid && (language.dirty || language.touched)">
                <div *ngIf="language.errors?.['required']">Language is required.</div>

            </div> -->
        </div>
    </div>
 


    <!--     PRICE -->
    <div class="mb-3 row">
        <label class="form-label col-2" for="price">Price:</label>
        <div class="col-5">
            <input class="form-control" type="number" id="price" name="price" #price="ngModel" [(ngModel)]="libro.preu"
                required>
            <div *ngIf="price.invalid && (price.dirty || price.touched)">
                <div *ngIf="price.errors?.['required']">Price is required.</div>

            </div>
        </div>
    </div>

    <!--    LOAN -->

    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" id="prestar" name="prestar" #prestar="ngModel"
            [(ngModel)]="libro.prestec" required>
        <label class="form-check-label" for="prestar">Se puede prestar?</label>
        <div *ngIf="prestar.invalid && (prestar.dirty || prestar.touched)">
            <div *ngIf="prestar.errors?.['required']">It is obligatory</div>
        </div>
    </div>


    <button type="submit" id="registerButton" [disabled]="addForm.invalid" class="btn btn-dark"
        (click)="addBook()">Register</button>

</form>